/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    background: #000;
}

:root {
    --bg-header: #080b12;
    --bg-main: #141922;
    --bg-sidebar: #000000;
    --bg-footer: #282828;
    --text-unhover: #707277;
}

.d-flex {
    display: flex;
}

.col-2 {
    /* width: calc((100% / 12) * 2);
    height: 100%; */
    width: 100px;
    height: auto;
    aspect-ratio: 1/1;
    background-color: blue;
}

/* #endregion common */

/* #region top */
.top {

    height: calc(100% - 80px);

    .content {
        width: calc(100% - 245px);
    }

    .content_header {
        height: 80px;
        background-color: var(--bg-header);
        justify-content: end;
        align-items: center;


        .btn {
            color: white;
            text-decoration: none;
            border: 2px solid white;
            border-radius: 2rem;
            padding: .5rem 2.5rem;
            margin-right: 1rem;

        }

        .btn:hover {
            padding: 1rem 3rem;
        }
    }

    .content_main {
        height: calc(100% - 80px);
        background-color: var(--bg-main);
        overflow: auto;
    }

    .sidebar {
        width: 245px;
        height: 100%;
        background-color: red;
    }

    .container {
        .row {
            padding: 3rem;
            gap: 3rem;
            flex-wrap: wrap;
        }
    }

    .menu_list {
        ul {
            list-style: none;
            justify-content: space-around;
            flex-wrap: wrap;
            padding-top: 1rem;
            padding-bottom: 2rem;
            line-height: 2rem;

            .btm_border {
                color: rgb(2, 201, 2);
                margin: 0 2rem;
            }

            a {
                color: var(--text-unhover);
                text-decoration: none;
            }

            a:hover {
                color: white;
            }
        }
    }

}



/* #endregion top */

/* #region bottom */
.bottom {
    height: 80px;
    background-color: purple;
}

/* #endregion bottom */

/* #region media-query */
@media screen and (max-width: 600px) {

    .sidebar {
        width: 60px !important;
    }

    .content {
        width: calc(100% - 60px) !important;
    }
}

/* #region media-query */