/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    background: #000;

}

:root {
    --bg-header: #080b12;
    --bg-main: #141922;
    --bg-sidebar: #000000;
    --bg-footer: #282828;
    --text-unhover: #707277;
}

.d-flex {
    display: flex;
}

h2 {
    color: white;
    padding-left: 2rem;
}

/* #endregion common */

/* #region top */
.top {

    height: calc(100% - 80px);

    .content {
        width: calc(100% - 245px);
    }

    /* #region content head */
    .content_header {
        height: 80px;
        background-color: var(--bg-header);
        justify-content: end;
        align-items: center;


        .btn {
            color: white;
            text-decoration: none;
            border: 2px solid white;
            border-radius: 2rem;
            padding: .5rem 2.5rem;
            margin-right: 1rem;

        }

        .btn:hover {
            padding: 1rem 3rem;
        }
    }

    /* #endregion content head */

    /* #region content body */
    .content_main {
        height: calc(100% - 80px);
        background-color: var(--bg-main);
        overflow: auto;
    }



    .container {

        .recently_played,
        .john_doe,
        .popular {
            padding-bottom: 3.5rem;
        }

        .recently_played {
            padding-right: 2rem;
        }

        .popular {
            img {
                border-radius: 50%;
            }
        }

        .col-2 {
            width: calc((100% /12) *2);
            padding-left: 10px;
        }

        img {
            width: 100%;
            height: auto;
        }

        .sect_title {
            padding-bottom: 1.5rem;
        }

        .sect_subtitle {
            color: var(--text-unhover);
            padding: .5rem 0 2rem 2rem;
        }

        .album_title {
            color: white;
            text-align: center;
            padding-top: 1rem;
        }

        .album_subtitle {
            color: var(--text-unhover);
            text-align: center;
            padding-top: .5rem;
        }

        .album_img {
            position: relative;
        }

        .play_btn {
            color: white;
            position: absolute;
            z-index: 1;
            right: 30%;
            top: 30%;
            font-size: 300%;
            display: none;
        }

        .album_img:hover .play_btn {
            display: block;
        }
    }

    .menu_list {
        ul {
            list-style: none;
            justify-content: space-around;
            flex-wrap: wrap;
            padding-top: 1rem;
            padding-bottom: 2rem;
            line-height: 2rem;

            .btm_border {
                color: rgb(2, 201, 2);
                margin: 0 2rem;
            }

            a {
                color: var(--text-unhover);
                text-decoration: none;
            }

            a:hover {
                color: white;
            }
        }
    }

    /* #endregion content body */
}

/* #endregion top */

/* #region sidebar */
.sidebar {
    width: 245px;
    height: 100%;
    background-color: var(--bg-sidebar);
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;

    /* #region sidebar top */
    .logo {
        padding: 1.5rem 3rem 1.5rem 1rem;
    }

    .logo_sm {
        display: none;
    }

    .home,
    .search,
    .library {
        padding-left: 1.5rem;
        padding-bottom: 5px;
        align-items: center;

        .logo_menu {
            width: 20px;
            opacity: 50%;
        }

        .logo_menu:hover {
            opacity: 100%;
        }

        .txt_menu {
            padding-left: 5px;

            a {
                color: var(--text-unhover);
                text-decoration: none;
            }
        }

        a:hover {
            color: white;
        }

    }

    .playlist {
        .playlist_title {
            color: white;
            padding: 1.5rem 0 1rem 1.5rem;
        }

        .playlist_logo {
            color: black;
            padding: 10px;
            background-color: var(--text-unhover);
            margin-left: 1rem;
            font-size: 30px;
        }

        .playlist_txt {
            color: var(--text-unhover);
            text-decoration: none;
            font-size: 20px;
            padding-left: 10px;
            align-items: center;
        }

        i:hover {
            background-color: white;
        }

        a:hover {
            color: white;
        }

        .playlist_list {
            padding-top: 1rem;

            a {
                text-decoration: none;
                padding-left: 1.5rem;
                line-height: 2rem;
                color: var(--text-unhover);
                font-size: 15px;
            }

            a:hover {
                color: white;
            }
        }
    }

    /* #endregion sidebar top */

    /* #region sidebar bottom */
    .side_bottom {
        .download {
            align-items: center;
            padding: 1rem;

            .download_img {
                width: 35px;
                padding-right: 10px;
                opacity: 50%;
            }

            .download_img:hover {
                opacity: 100%;
            }

            a {
                color: var(--text-unhover);
                text-decoration: none;
            }

            a:hover {
                color: white;
            }
        }

        hr {
            color: var(--text-unhover);
            margin: 0 2rem;
        }

        .profile {
            align-items: center;
            padding: 1rem;

            .profile_img {
                width: 30px;
                height: 30px;
                background-color: var(--text-unhover);
                border-radius: 100%;
                padding: 5px;
            }

            .profile_link {
                padding-left: 1rem;

                a {
                    font-size: 20px;
                    color: white;
                    text-decoration: none;
                }
            }

        }
    }

    /* #endregion sidebar bottom */

}

/* #endregion sidebar */

/* #region bottom */
.bottom {
    height: 80px;
    background-color: var(--bg-footer);
    justify-content: space-between;

    .playing {
        align-items: center;

        .playing_img {
            width: 3rem;
            margin: 0 1rem;
        }

        .playing_txt {
            margin-right: 1rem;

            h4 {
                color: white;
            }

            a {
                color: var(--text-unhover);
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }
        }

        i {
            margin-right: 10px;
            color: var(--text-unhover);
        }
    }

    .track_bar {
        flex-direction: column;



        .track_btns {
            align-items: center;
            color: white;
            padding: .5rem 1rem;
            font-size: 20px;
            justify-content: center;

            .fa-circle-play {
                font-size: 35px;
            }

            .fa-circle-play:hover {
                font-size: 40px;
            }

            i {
                margin-right: 20px;
            }
        }

        .time_stamp {
            justify-content: space-between;
            align-items: center;

            .time_bar {
                width: 100%;
                height: 3px;


                .played {
                    width: 30%;
                    background-color: white;
                }

                .remaining {
                    width: 70%;
                    background-color: var(--text-unhover);
                }
            }

            .time {
                color: var(--text-unhover);
                padding: 0 1rem;
            }
        }
    }

    .col-4 {
        width: calc((100% /12) *4);
    }

    .volume {
        justify-content: flex-end;
        align-items: center;

        i {
            color: white;
            padding: 0 10px;
        }

        .volume_bar {
            width: 20%;
            height: 3px;
            padding-right: 1rem;


            .played {
                width: 30%;
                background-color: white;
            }

            .remaining {
                width: 70%;
                background-color: var(--text-unhover);
            }
        }
    }

}

/* #endregion bottom */

/* #region media-query */

@media screen and (max-width: 1100px) {
    .recently_played {
        flex-wrap: wrap;

    }

    .col-2 {
        width: calc((100% /12) *3) !important;

    }
}

@media screen and (max-width: 700px) {
    .recently_played {
        flex-wrap: wrap;

    }

    .col-2 {
        width: calc((100% /12) *6) !important;

    }
}

@media screen and (max-width: 550px) {

    .sidebar {
        width: 80px;

        .logo,
        .txt_menu,
        .playlist,
        .download_link,
        .profile_link {
            display: none !important;
        }

        .logo_sm {
            margin: 1.3rem;
            display: block;
            width: 40px;
        }
    }

    .content {
        width: calc(100% - 80px) !important;
        flex-wrap: wrap;

        .col-2 {
            width: calc((100% /12) *12) !important;
        }
    }

}

/* #endregion media-query */